<form [formGroup]="filtroProductos" (submit)="enviarFiltro()" class="w-75 m-auto row justify-content-center row-gap-3 mt-3 border-bottom border-primary-subtle pb-3">
    <div class="col-11">
        <select formControlName="filtro" class="form-select">
            <option value="todos">Todos</option>
            <option value="pendiente">En stock</option>
            <option value="finalizado">Acabado</option>
        </select>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-outline-primary">Filtrar</button>
    </div>
</form>
