<div class="container mt-5">

    <div class="text-center mb-4">
        <span class="text-secondary bg-primary px-3 py-2 rounded">LOGO</span>
    </div>

    <h1 class="text-center form-title">LOGIN</h1>

    <div class="card p-4 shadow-sm">
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                    <input type="text" id="username" name="usuario" class="form-control" placeholder="Introduce tu Usuario" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-file-lock-fill"></i></span>
                    <input type="password" id="password" name="contraseña" class="form-control" placeholder="Introduce tu Contraseña" required>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-6">
                    <button type="button" class="btn btn-primary w-100" (click)="goPagPrincipal()">Login</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary w-100" (click)="goRegister()">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

