
<div class="pt-5"><span align="center" class="text-secondary bg-primary">LOGO</span></div>
<hr>

<form>
    <div class="pb-3">
        <label for="username">Username</label><br>
        <i class="bi bi-person-circle mr-1"></i>
        <input type="text" id="username" name="usuario" placeholder="Introducir Usuario" required>
    </div>

    <div class="pb-5">
        <label for="password">Password</label><br>
        <i class="bi bi-file-lock-fill"></i>
        <input type="password" id="password" name="contraseña" placeholder="Introducir Contraseña" required>
    </div>

    <div class="pt-5 row">
        <div class="col-6"><button type="button" class="btn btn-primary mr-10px">Login</button></div>
        <div class="col-6"><button type="button" class="btn btn-primary">Register</button></div>
    </div>

    <hr>

</form>