p {
  color: gray;

  i {
    margin-right: 10px;
    color: black;
  }

}

section {
  display: flex;
  margin: 1em auto;
  outline: 1px dashed lightgray;
  flex: none;
  overflow: auto;
}

.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}
.x.proximity-scroll-snapping {
  scroll-snap-type: x proximity;
}

div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.x div {
  line-height: 128px;
  font-size: 64px;
  width: 100%;
  height: 128px;
}

#add {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #007bff;
  position: fixed;
  bottom: 25px;
  left: 25px; /* Cambiar de right: 25px a left: 25px */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
  z-index: 1000;
}




