

<div class="mt-4">
    <ul>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
    </ul>
</div>

<hr>
    <p class="text-end">Modificado hace "X" días <i class="bi bi-calendar2-event"></i></p>
<hr>

<div class="mt-4">
    <ul>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
    </ul>
</div>

<hr>
    <p class="text-end">Modificado hace "X" días <i class="bi bi-calendar2-event"></i></p>
<hr>

<div class="mt-4">
    <ul>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
    </ul>
</div>

<hr>
    <p class="text-end">Modificado hace "X" días <i class="bi bi-calendar2-event"></i></p>
<hr>

<div class="mt-4">
    <ul>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
    </ul>
</div>

<hr>
    <p class="text-end">Modificado hace "X" días <i class="bi bi-calendar2-event"></i></p>
<hr>

<div class="mt-4">
    <ul>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
    </ul>
</div>

<hr>
    <p class="text-end">Modificado hace "X" días <i class="bi bi-calendar2-event"></i></p>
<hr>

<div class="mt-4">
    <ul>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
        <li>asdad</li>
    </ul>
</div>

<hr>
    <p class="text-end">Modificado hace "X" días <i class="bi bi-calendar2-event"></i></p>
<hr>

<button id="add" type="button" class="btn btn-lg align-items-center" >
    <i class="bi bi-plus-circle-fill text-secondary "></i>
</button>
