<div class="divPrincipal z-2">
    <h1 class="text-center">Página Principal</h1>

    <div class="mt-4">
        <h2>Tareas</h2>
        <ul>
            <li *ngFor="let tarea of tareas">
                <strong>{{ tarea.titulo }}</strong> - {{ tarea.descripcion }}<br>
                Fecha: {{ tarea.fecha }} | Tema: {{ tarea.tema }}
            </li>
        </ul>
    </div>
    <div class="add">
    <button type="button" class="btn btn-lg align-items-center" (click)="goAdd()">
        <i class="bi bi-plus-circle-fill text-secondary"></i>
    </button>
    </div>
</div>
