#add {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #7ABFFF;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

p {
  color: gray;

  i {
    margin-right: 10px;
    color: black;
  }

}


section {
  display: flex;
  margin: 1em auto;
  outline: 1px dashed lightgray;
  flex: none;
  overflow: auto;
}

/* scroll-snap */
.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}
.x.proximity-scroll-snapping {
  scroll-snap-type: x proximity;
}

div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.x div {
  line-height: 128px;
  font-size: 64px;
  width: 100%;
  height: 128px;
}



