<form [formGroup]="formulario" (submit)="addPersona()" class="w-75 m-auto mt-4 mb4 py-3 px-3 rounded-3 shadow-sm row justify-content-center row-gap-3">
    <div class="col-11">
        <input formControlName="nombre" class="form-control" type="text" placeholder="nombre">
    </div>
    <div class="col-11">
        <input formControlName="edad" class="form-control" type="number" placeholder="edad">
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-primary">Añadir</button>
    </div>
</form>


<div class="row justify-content-around gap-3">

    <div class="col-4 rounded-3 shadow-sm py-4 px-3" *ngFor="let perosna of personas">
        <p class="mb-2">Nombre: </p>
        <p class="small mb-4 text-muted fw-bold">{{ perosna.nombre }}</p>

        <p class="mb-2">Edad: </p>
        <p class="small text-muted fw-bold mb-0">{{ perosna.edad }} años</p>
    </div>
</div>