<h1 class="addTask text-center">ADD NEW TASK</h1>
<div class="divPrincipal text-center row ">
<form>
    <label for="tittle">Tittle</label><br>
    <input id="tittle" type="text" placeholder="Tittle" required><br>

    <label for="description">Description</label><br>
    <textarea id="description" rows="5" cols="23" placeholder=""></textarea><br>

    <div>
    <label for="FechaActual">Fecha</label><br>
    <input type="date" id="FechaActual">
    </div>
</form>

<p class="col-6 mt-3">
    <button type="button" class="btn btn-primary">Submit</button>
</p>

<p class="col-6 mt-3">
    <button type="button" class="btn btn-primary">Cancel</button>
</p>


</div>


