<div class="divPrincipal text-center">
    <h1 class="addTask text-center">ADD NEW TASK</h1>

    <div class="divSecundario">
        <form [formGroup]="nuevaTarea" (ngSubmit)="onSubmit()" class="row g-3">
            <div class="col-12">
                <label for="tittle" class="form-label">Título</label>
                <input id="tittle" type="text" class="form-control" placeholder="Título" formControlName="titulo" required>
            </div>

            <div class="col-12">
                <label for="description" class="form-label">Descripción</label>
                <textarea id="description" class="form-control" rows="5" placeholder="Introduce la descripción..." formControlName="descripcion"></textarea>
            </div>

            <div class="col-md-6">
                <label for="FechaActual" class="form-label">Fecha</label>
                <input type="date" id="FechaActual" class="form-control" formControlName="fecha" required>
            </div>

            <div class="col-md-6">
                <label for="rol" class="form-label">Tema</label>
                <select id="rol" class="form-select" formControlName="tema" required>
                    <option value="" selected disabled>Selecciona el campo</option>
                    <option value="Estudio">Estudio</option>
                    <option value="Trabajo">Trabajo</option>
                    <option value="Ocio">Ocio</option>
                    <option value="Hogar">Hogar</option>
                    <option value="Viajes">Viajes</option>
                    <option value="Familia">Familia</option>
                    <option value="Salud">Salud</option>
                </select>
            </div>

            <div class="col-12 text-center mt-4">
                <button type="submit" [disabled]="!nuevaTarea.valid" class="btn btn-primary mx-2">Guardar</button>
                <button type="button" class="btn btn-secondary mx-2" (click)="goPagPrincipal()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
