.divPrincipal {
  padding: 40px;
}

.addTask {
  padding: 20px;
  background-color: #f0f0f0;
  border: 4px solid #7ABFFF;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 40px auto;
}

.divSecundario {
  padding: 40px;
  background-color: #f0f0f0;
  border: 4px solid #7ABFFF;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 40px auto;
}