
<div class="pt-5"><span align="center" class="text-secondary bg-primary">LOGO</span></div>
<hr>

<form>
    <div>
    <div class="pb-3">
        <label for="username">Username</label><br>
        <i class="bi bi-person-circle mr-1"></i>
        <input type="text" id="username" name="usuario" placeholder="Introducir Usuario" required>
    </div>

    <div class="pb-3">
        <label for="e-mail">E-Mail</label><br>
        <i class="bi bi-envelope-at-fill"></i>
        <input type="text" id="e-mail" name="usuario" placeholder="Introducir Correo" required>
    </div>

    <div class="pb-3">
        <label for="password">Password</label><br>
        <i class="bi bi-file-lock-fill"></i>
        <input type="password" id="password" name="contraseña" placeholder="Introducir Contraseña" required>
    </div>

    <div class="pb-5">

        <label for="cPassword">Confirm Password</label><br>
        <i class="bi bi-file-lock-fill"></i>
        <input type="password" id="cPassword" name="cPassword" placeholder="Confirmar Contraseña" required>
    </div>

    <div class="pt-5">
        <button type="button" class="btn btn-primary">Register</button>
    </div>

    <hr>
    </div>
</form>